/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */

.thought1{
    font-family:'Kirang Haerang', cursive;
}

.thought2{
    font-family:'Hanalei Fill', cursive;
}

.thought3{
    font-family: 'Open Sans', sans-serif;

}